/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #ffffff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

/* Section Styles */
section {
    padding: 2rem;
    text-align: center; /* Center text within each section */
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

/* Portfolio Styles */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 45%;
    margin-bottom: 2rem; 
}

/* Resume Styles */
/* Add specific styles for the resume section (e.g., bullet points, spacing) */

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}